.common {
	&__shadow {
		box-shadow: rgba(51, 51, 51, 0.5) 0 0 15px;
	}
}

.archive__title {
	text-align: center;
}

.post {
	margin: 0 auto;
	max-width: 1280px;
	&__content {
		margin: 0 auto;
		width: 100%;
		max-width: 960px;
		background-color: #fff;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

#wrap-item {
	opacity: 0;
}

@media screen and (min-width:640px) {
	.post {
		&__content {
			padding: 2rem 3rem;
		}
	}
}

